################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/7BB18722DB54534B8994A0B3CF7FE0B2
