################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/7BB18722DB54534B8994A0B3CF7FE0B2
/.vs/CopilotSnapshots/032195CAAB997E4FB33C18177D9E9807
